---
// Import the global.css file here so that it is included on
// all pages through the use of the <MetaData /> component.
import "../../styles/global.css";
import FallbackImage from "../../assets/Chop-Logic-Logo-Horizontal-612x306-white-bg.png";
import { DEFAULT_OPEN_GRAPH } from "../../constants/defaults";
import type { MetaData } from "../../lib/content/models";

interface Props {
	siteTitle: string;
	metaData: MetaData;
}

const { siteTitle, metaData } = Astro.props;
const {
	metaTitle,
	metaDescription,
	keywords,
	canonicalURL,
	authorName,
	robots,
	openGraph,
} = metaData;
const { ogDescription, ogTitle, ogType, ogImage } =
	openGraph ?? DEFAULT_OPEN_GRAPH;

const siteRoot = new URL(Astro.url.origin); // TODO: Replace with siteRoot = Astro.site ?? new URL(Astro.url.origin) when Astro.site is available
const canonical = canonicalURL ?? new URL(Astro.url.pathname, siteRoot);
const ogImageURL = ogImage
	? new URL(ogImage.src, Astro.url)
	: new URL(FallbackImage.src, Astro.url);
const rssURL = new URL("rss.xml", siteRoot);
const hasAuthor = !!authorName && authorName.trim() !== "";
const hasKeywords = !!keywords && keywords.trim() !== "";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={siteTitle}
	href={rssURL}
/>

<!-- Font preloads -->
<link
	rel="preload"
	href="/fonts/atkinson-regular.woff"
	as="font"
	type="font/woff"
	crossorigin
/>
<link
	rel="preload"
	href="/fonts/atkinson-bold.woff"
	as="font"
	type="font/woff"
	crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonical} />

<!-- Primary Meta Tags -->
<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={metaDescription} />
<meta name="robots" content={robots} />
{hasKeywords && <meta name="keywords" content={keywords} />}
{hasAuthor && <meta name="author" content={authorName} />}

<!-- Open Graph -->
<meta property="og:type" content={ogType} />
<meta property="og:url" content={canonical} />
<meta property="og:title" content={ogTitle ?? metaTitle} />
<meta property="og:description" content={ogDescription ?? metaDescription} />
<meta property="og:image" content={ogImageURL} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={canonical} />
<meta name="twitter:title" content={ogTitle ?? metaTitle} />
<meta name="twitter:description" content={ogDescription ?? metaDescription} />
<meta name="twitter:image" content={ogImageURL} />
