---
import Layout from "../layouts/BlogPost.astro";
import { createContentProvider } from "../lib/content/provider";

const content = createContentProvider();
const { page, siteConfig } = await content.getAboutPageContent();
const { siteTitle, logo, footer } = siteConfig;
---

<Layout
	siteTitle={siteTitle}
	logo={logo}
	footer={footer}
	metaData={page.metaData}
	title={page.heading}
	pubDate={page.publishedAt ?? new Date()}
	heroImageUrl={page.heroImageUrl}
	heroImageAlt={page.heroImageAlt}
>
	{page.subHeading && <p>{page.subHeading}</p>}
	<div class="cms-body" set:html={page.bodyHtml} />
</Layout>

<style>
	.cms-body :global(.cms-picture img) {
		max-width: 100%;
		height: auto;
		border-radius: 12px;
	}
</style>
