---
import type { Link } from "../../lib/content/models/link";
import { buildCmsLinkRel } from "./Link.helpers";

interface Props {
	link: Link;
	className?: string;
}

const { link, className } = Astro.props;
const rel = buildCmsLinkRel(link);
---

<a
	href={link.url}
	target={link.target}
	rel={rel}
	referrerpolicy={link.referrerpolicy}
	class={className}
>
	<slot />
</a>
